<div class="container">
	<h1>Please enter a twitter username</h1>
	<form id="username">
		<input type="text" name="username">
		<input type="submit" value="Go!">
		<img id="loading" src="/ajax-loader.gif">
	</form>
</div>