<div class="container">
  <h1>Tweet!</h1>
  <form id="tweet" action="/tweet" method="POST">
    <textarea name="tweet" maxlength="140" style="width:300px; height:100px"></textarea><br>
    <input type="submit"/><br>
  </form>

</div>